<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">

  <link rel="stylesheet" href="design/css/styles.css">
  <link rel="stylesheet" href="design/css/dev.css">
  {% block stylesheets %}{% endblock %}
</head>
<body>

<div class="wrapper">

  {% block baseContent %}
  {% endblock %}

</div><!-- /.wrapper -->

<!-- BEGIN: Scripts -->
<script src="design/js/dev.js"></script>
<!-- END: Scripts -->

</body>
</html>